<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="teacherMapper">
    <sql id="findAllTeachers">
        SELECT * FROM teacher t
    </sql>

    <select id="findAllTch" resultType="com.example.jiashuaowei.entity.Teacher">
        <include refid="findAllTeachers"></include>
    </select>

    <insert id="insertATch" parameterType="com.example.jiashuaowei.entity.Teacher">
        INSERT INTO teacher(name, age) VALUES (#{name}, #{age})
    </insert>

    <delete id="deleteATchById" parameterType="int">
        DELETE FROM teacher WHERE id = #{id}
    </delete>
</mapper>
